Repository Anselmoo/useful-optimizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-docstring-inline-summaries, validate-optimizer-docs

google-docstring-inline-summaries:
  name: Enforce inline Google docstring summaries
  entry: python scripts/check_google_docstring_inline_descriptions.py
  language: system
  pass_filenames: true

validate-optimizer-docs:
  name: Validate optimizer COCO/BBOB compliance
  entry: python scripts/validate_optimizer_docs.py
  language: python

Add JSON schemas for VitePress mapping and docstring validation
  docs/schemas/default-mapping.json
  docs/schemas/docstring-schema.json
  docs/schemas/vitepress-mapping-schema.json
Due: none

Complete COCO/BBOB docstrings for swarm intelligence optimizers (ant_colony.py, particle_swarm.py) (#115)
  opt/swarm_intelligence/ant_colony.py
  opt/swarm_intelligence/particle_swarm.py
Due: validate-optimizer-docs

Update scripts/unified_validator.py
  scripts/unified_validator.py
Due: none

Update scripts/docstring_parser.py
  scripts/docstring_parser.py
Due: none

fix: correct class name from SensitivityAnalysi to SensitivityAnalysis
  scripts/docstring_models.py
Due: none

fix: simplify error handling for loading docstring_parser module
  scripts/unified_validator.py
Due: none

Schema-driven docstring validation with Pydantic models and JSON Schema (#114)
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  docs/SCHEMA_UPDATE_WORKFLOW.md
  pyproject.toml
  scripts/README.md
  scripts/docstring_models.py
  scripts/docstring_parser.py
  scripts/test/__init__.py
  scripts/test/test_docstring_models.py
  scripts/test/test_docstring_parser.py
  scripts/unified_validator.py
  uv.lock
Due: none

[WIP] Create ECharts Vue components for scientific visualization (#116)
  benchmarks/generate_plots.py
  benchmarks/models.py
  benchmarks/run_benchmark_suite.py
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/types/benchmark.ts
  docs/package.json
  docs/schemas/benchmark-data-schema.json
Due: none

feat: implement optimization history tracking across multiple algorithms
  opt/abstract/multi_objective.py
  opt/abstract/single_objective.py
  opt/abstract_optimizer.py
  opt/metaheuristic/sine_cosine_algorithm.py
  opt/multi_objective/abstract_multi_objective.py
  opt/multi_objective/moead.py
  opt/multi_objective/nsga_ii.py
  opt/multi_objective/spea2.py
  opt/swarm_intelligence/artificial_gorilla_troops.py
  opt/swarm_intelligence/firefly_algorithm.py
Due: google-docstring-inline-summaries, validate-optimizer-docs

fix: correct import statement for AbstractOptimizer in FireflyAlgorithm
  opt/swarm_intelligence/firefly_algorithm.py
Due: validate-optimizer-docs

test: add package docstring for tests package
  HISTORY_TRACKING_STATUS.md
  benchmarks/models.py
  docs/benchmarks/history.md
  tests/__init__.py
  tests/test_benchmarks_models.py
Due: none

feat: add VSCode settings for chat prompt file recommendations and terminal auto-approval
  .vscode/settings.json
Due: none

chore: remove outdated documentation files for history tracking and implementation summary
  HISTORY_TRACKING_STATUS.md
  IMPLEMENTATION_SUMMARY.md
  PRECOMMIT_FIX_SUMMARY.md
Due: none

fix: SMC docstring args; tests: robust reproducibility + markers; ci: add benchmark workflow
  opt/metaheuristic/sine_cosine_algorithm.py
  opt/probabilistic/sequential_monte_carlo.py
  pyproject.toml
  tests/test_benchmarks_quick.py
Due: validate-optimizer-docs

feat: replace inline doctests with spec-driven benchmark tests and CI integration
  .github/workflows/benchmark.yml
  .pre-commit-config.yaml
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  pyproject.toml
  specs/001-checklists-constitution/plan.md
  specs/001-checklists-constitution/research.md
  specs/001-checklists-constitution/spec.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/checklists/requirements.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/checklists/reviewers.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/plan.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/spec.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/tasks.md
Due: none

docs(tasks): add MCP recording requirements, spec-level tasks.json, and extend MCP logging test
  .github/agents/copilot-instructions.md
  .github/prompts/spec-kit.prompt.md
  .pre-commit-config.yaml
  specs/002-replace-doctests-with-spec-driven-benchmarks/tasks.json
  specs/002-replace-doctests-with-spec-driven-benchmarks/tasks.md
  tests/test_mcp_logging.py
Due: none

feat: enhance optimizer documentation templates and specifications for benchmark compliance
  .github/prompts/optimizer-docs-template.prompt.md
  .github/prompts/spec-kit.prompt.md
Due: none

analysis: gap report for benchmarks-specs; add prioritized tasks T026-T029
  .github/analysis/benchmarks-gap-report.json
  .github/analysis/benchmarks-gap-report.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/tasks.json
  specs/002-replace-doctests-with-spec-driven-benchmarks/tasks.md
Due: none

feat(benchmarks): add export/validate helpers and tests
  opt/benchmark/utils.py
  tests/test_benchmark_export.py
Due: none

chore(tasks): add snapshot of T001-T011 to root tasks.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/tasks.md
  tasks.md
Due: none

docs(constitution): add performance best-practices (early_stop) + audit rules, bump v0.2.0
  .github/CONSTITUTION.md
  .specify/memory/constitution.md
Due: none

spec: add early_stop, max_iter audit, pre-commit guidance and tests
  specs/002-replace-doctests-with-spec-driven-benchmarks/spec.md
Due: none

chore: add benchmarks checklist and test
  .github/checklists/benchmarks-spec.md
  tests/test_checklists_benchmarks_spec.py
Due: none

clarify: default max_iter for quick benchmarks set to 500; record clarification
  specs/002-replace-doctests-with-spec-driven-benchmarks/spec.md
Due: none

plan: add discovery outputs, gap report, architecture diagram and runbook; record MCP calls
  architecture/diagrams.mmd
  runbook.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/benchmarks-gap-report.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/discovery/discovery.md
  specs/002-replace-doctests-with-spec-driven-benchmarks/discovery/files.json
  specs/002-replace-doctests-with-spec-driven-benchmarks/plan-validation.md
Due: none

feat: add initial VSCode settings for chat tools and terminal configuration
  .vscode/settings.json
Due: none

refactor: update import statements for AbstractMultiObjectiveOptimizer
  opt/multi_objective/abstract_multi_objective.py
  opt/multi_objective/moead.py
  opt/multi_objective/nsga_ii.py
  opt/multi_objective/spea2.py
Due: google-docstring-inline-summaries, validate-optimizer-docs

refactor: remove unused import for AbstractMultiObjectiveOptimizer
  opt/multi_objective/__init__.py
Due: validate-optimizer-docs

refactor: remove unused import of AbstractMultiObjectiveOptimizer and clean up docstring_models.py
  opt/__init__.py
  scripts/docstring_models.py
Due: none

Replace deprecated ECharts-GL with TresJS, fix SSR build errors, and add mock benchmark data (#120)
  docs/.vitepress/theme/components/FitnessLandscape3D.vue
  docs/.vitepress/theme/index.ts
  docs/benchmark-demo.md
  docs/package.json
  docs/public/test-data/README.md
  docs/public/test-data/mock-benchmark-data.json
  docs/public/test-data/test_types.ts
  docs/test-charts.md
  scripts/test-benchmark-data.sh
Due: none

chore: Remove useless documentation
  BENCHMARK_PIPELINE_README.md
  HISTORY_TRACKING_STATUS.md
  IMPLEMENTATION_SUMMARY.md
  PRECOMMIT_FIX_SUMMARY.md
  examples_visualization.py
Due: none

docs: Remove COCO benchmark examples from various optimizer classes in the swarm intelligence module to streamline documentation and reduce redundancy.
  opt/swarm_intelligence/bat_algorithm.py
Due: validate-optimizer-docs

Path conditions:
  google-docstring-inline-summaries: any of: ^opt/(abstract_optimizer\.py|multi_objective/abstract_multi_objective\.py)$
  validate-optimizer-docs: any of: ^opt/.*/.*\.py$, but not: ^opt/(benchmark|test|__pycache__|visualization)/
