Repository Anselmoo/useful-optimizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-docstring-inline-summaries, validate-optimizer-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
      - id: ruff-format

  # Docstring validation
  # Note: Both pydocstyle and custom validator target optimizer files
  # - pydocstyle: Specific category directories for Google-style compliance
  # - validate-optimizer-docs: Broader pattern with exclusions for COCO/BBOB compliance
  - repo: https://github.com/pycqa/pydocstyle
    rev: "6.3.0"
    hooks:
      - id: pydocstyle
        args:
          - --convention=google
          - --add-ignore=D100,D104
        files: ^opt/(classical|constrained|evolutionary|gradient_based|metaheuristic|multi_objective|physics_inspired|probabilistic|social_inspired|swarm_intelligence)/.*\.py$

  - repo: local
    hooks:
      - id: google-docstring-inline-summaries
        name: Enforce inline Google docstring summaries
        entry: python scripts/check_google_docstring_inline_descriptions.py
        language: system
        pass_filenames: true
        files: ^opt/(abstract_optimizer\.py|multi_objective/abstract_multi_objective\.py)$
      # Custom optimizer validator
      - id: validate-optimizer-docs
        name: Validate optimizer COCO/BBOB compliance
        entry: python scripts/validate_optimizer_docs.py
        language: python
        files: ^opt/.*/.*\.py$
        exclude: ^opt/(benchmark|test|__pycache__|visualization)/

Add pre-commit hooks for COCO/BBOB docstring validation (#94)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate_optimizer_docs.py
  uv.lock
Due: none

chore(docs): remove unnecessary PR documentation files
  CLEANUP_STRATEGY.md
  docs/ISSUE_RESOLUTION.md
  docs/MIGRATION.md
  docs/PR_SUMMARY.md
Due: none

Migrate docs from markdown-it-mathjax3 to markdown-it-katex (#97)
  .github/workflows/docs.yaml
  CLEANUP_STRATEGY.md
  FINAL_SUMMARY.md
  docs/.vitepress/config.ts
  docs/README.md
  docs/package.json
  docs/test-docs-migration.sh
  docs/validate-docs-migration.js
Due: none

fix: Update optimizer docstring template for clarity on string literal usage
  .github/prompts/optimizer-docs-template.md
Due: none

feat: add Brain Storm Optimization metaheuristic
  opt/metaheuristic/__init__.py
  opt/metaheuristic/brain_storm_optimization.py
Due: validate-optimizer-docs

fix: Update agent and model configuration in documentation prompt
  .github/prompts/docs-completion.prompt.md
Due: none

fix: Update documentation workflow instructions for clarity and completeness
  .github/copilot-instructions.md
Due: none

fix: Update documentation references to the new optimizer docstring template
  .github/copilot-instructions.md
  .github/prompts/optimizer-docs-template.prompt.md
  opt/abstract_optimizer.py
  opt/multi_objective/abstract_multi_objective.py
  scripts/README.md
  scripts/batch_update_docstrings.py
  scripts/validate_optimizer_docs.py
Due: google-docstring-inline-summaries, validate-optimizer-docs

Update BBOB budget usage formatting in classical optimizers' documentation
  .github/prompts/optimizer-docs-template.prompt.md
  opt/classical/bfgs.py
  opt/classical/conjugate_gradient.py
  opt/classical/hill_climbing.py
  opt/classical/lbfgs.py
  opt/classical/nelder_mead.py
  opt/classical/powell.py
  opt/classical/simulated_annealing.py
  opt/classical/tabu_search.py
  opt/classical/trust_region.py
Due: validate-optimizer-docs

Add COCO/BBOB compliant docstrings to classical optimization algorithms (#100)
  .github/prompts/optimizer-docs-template.prompt.md
  opt/classical/bfgs.py
  opt/classical/conjugate_gradient.py
  opt/classical/hill_climbing.py
  opt/classical/lbfgs.py
  opt/classical/nelder_mead.py
  opt/classical/powell.py
  opt/classical/simulated_annealing.py
  opt/classical/tabu_search.py
  opt/classical/trust_region.py
Due: validate-optimizer-docs

refactor: streamline docstring formatting for DifferentialEvolution parameters and attributes
  opt/evolutionary/differential_evolution.py
Due: validate-optimizer-docs

Add COCO/BBOB compliant docstrings to 6 evolutionary algorithms (#103)
  opt/evolutionary/cma_es.py
  opt/evolutionary/cultural_algorithm.py
  opt/evolutionary/differential_evolution.py
  opt/evolutionary/estimation_of_distribution_algorithm.py
  opt/evolutionary/genetic_algorithm.py
  opt/evolutionary/imperialist_competitive_algorithm.py
Due: validate-optimizer-docs

Enhance docstring formatting guidelines for Ruff compliance in optimizer documentation
  .github/copilot-instructions.md
  .github/prompts/optimizer-docs-template.prompt.md
Due: none

docs: simplify example instantiation in BatAlgorithm docstring
  opt/swarm_intelligence/bat_algorithm.py
Due: validate-optimizer-docs

docs: Add COCO/BBOB compliant docstrings for swarm intelligence algorithms (7/54) (#101)
  opt/swarm_intelligence/bat_algorithm.py
  opt/swarm_intelligence/cuckoo_search.py
  opt/swarm_intelligence/dragonfly_algorithm.py
  opt/swarm_intelligence/firefly_algorithm.py
  opt/swarm_intelligence/grey_wolf_optimizer.py
  opt/swarm_intelligence/harris_hawks_optimization.py
  opt/swarm_intelligence/salp_swarm_algorithm.py
  opt/swarm_intelligence/whale_optimization_algorithm.py
Due: validate-optimizer-docs

fix(docs): enforce Google docstring style for Returns/Raises sections
  .github/copilot-instructions.md
  .github/prompts/docs-completion.prompt.md
  .pre-commit-config.yaml
  scripts/README.md
  scripts/check_google_docstring_inline_descriptions.py
Due: none

chore(docs): remove outdated documentation files for cleanup
  CLEANUP_STRATEGY.md
  DOCSTRING_UPDATE_STATUS.md
  FINAL_SUMMARY.md
Due: none

Add COCO/BBOB compliant docstrings to gradient-based optimizers (#102)
  CLEANUP_STRATEGY.md
  FINAL_SUMMARY.md
  opt/gradient_based/adadelta.py
  opt/gradient_based/adagrad.py
  opt/gradient_based/adamax.py
  opt/gradient_based/adamw.py
  opt/gradient_based/adaptive_moment_estimation.py
  opt/gradient_based/amsgrad.py
  opt/gradient_based/nadam.py
  opt/gradient_based/nesterov_accelerated_gradient.py
  opt/gradient_based/rmsprop.py
  opt/gradient_based/sgd_momentum.py
  opt/gradient_based/stochastic_gradient_descent.py
Due: validate-optimizer-docs

Update docstrings for metaheuristic algorithms (10/14 complete) (#104)
  opt/metaheuristic/arithmetic_optimization.py
  opt/metaheuristic/colliding_bodies_optimization.py
  opt/metaheuristic/cross_entropy_method.py
  opt/metaheuristic/eagle_strategy.py
  opt/metaheuristic/harmony_search.py
  opt/metaheuristic/shuffled_frog_leaping_algorithm.py
  opt/metaheuristic/sine_cosine_algorithm.py
  opt/metaheuristic/stochastic_diffusion_search.py
  opt/metaheuristic/stochastic_fractal_search.py
  opt/metaheuristic/variable_neighbourhood_search.py
Due: validate-optimizer-docs

fix(docs): enforce inline Google docstring format in Args/Returns sections
  opt/constrained/barrier_method.py
  opt/evolutionary/cma_es.py
  opt/multi_objective/moead.py
  opt/multi_objective/nsga_ii.py
  opt/multi_objective/spea2.py
  scripts/check_google_docstring_inline_descriptions.py
Due: validate-optimizer-docs

fix(docs): correct formatting in reference citation for consistency
  opt/metaheuristic/shuffled_frog_leaping_algorithm.py
Due: validate-optimizer-docs

fix(docs): replace unicode × with LaTeX $\times$ in BBOB budget expressions
  .github/copilot-instructions.md
  .github/prompts/docs-completion.prompt.md
  opt/metaheuristic/arithmetic_optimization.py
  opt/metaheuristic/colliding_bodies_optimization.py
  opt/metaheuristic/cross_entropy_method.py
  opt/metaheuristic/eagle_strategy.py
  opt/metaheuristic/harmony_search.py
  opt/metaheuristic/shuffled_frog_leaping_algorithm.py
  opt/metaheuristic/sine_cosine_algorithm.py
  opt/metaheuristic/stochastic_diffusion_search.py
  opt/metaheuristic/stochastic_fractal_search.py
  opt/metaheuristic/variable_neighbourhood_search.py
Due: validate-optimizer-docs

docs: add seed parameter documentation for reproducibility in ArithmeticOptimizationAlgorithm
  opt/metaheuristic/arithmetic_optimization.py
Due: validate-optimizer-docs

Complete COCO/BBOB compliant docstrings for metaheuristic optimizers (#112)
  opt/metaheuristic/arithmetic_optimization.py
  opt/metaheuristic/colliding_bodies_optimization.py
  opt/metaheuristic/cross_entropy_method.py
  opt/metaheuristic/eagle_strategy.py
  opt/metaheuristic/forensic_based.py
  opt/metaheuristic/harmony_search.py
  opt/metaheuristic/particle_filter.py
  opt/metaheuristic/shuffled_frog_leaping_algorithm.py
  opt/metaheuristic/sine_cosine_algorithm.py
  opt/metaheuristic/stochastic_diffusion_search.py
  opt/metaheuristic/stochastic_fractal_search.py
  opt/metaheuristic/variable_depth_search.py
  opt/metaheuristic/variable_neighbourhood_search.py
  opt/metaheuristic/very_large_scale_neighborhood_search.py
Due: validate-optimizer-docs

fix(docs): update docstrings for MOEA/D, NSGA-II, and SPEA2 to improve clarity and consistency
  opt/multi_objective/moead.py
  opt/multi_objective/nsga_ii.py
  opt/multi_objective/spea2.py
Due: validate-optimizer-docs

fix(docs): streamline Notes section in SPEA2 docstring for clarity
  opt/multi_objective/spea2.py
Due: validate-optimizer-docs

Add COCO/BBOB-compliant docstrings to multi-objective optimizers (#109)
  opt/multi_objective/moead.py
  opt/multi_objective/nsga_ii.py
  opt/multi_objective/spea2.py
Due: validate-optimizer-docs

[WIP] Update docstrings for physics-inspired algorithms (#105)
  opt/physics_inspired/atom_search.py
  opt/physics_inspired/equilibrium_optimizer.py
  opt/physics_inspired/gravitational_search.py
  opt/physics_inspired/rime_optimizer.py
Due: validate-optimizer-docs

[WIP] Update docstrings for probabilistic category algorithms (#106)
  opt/probabilistic/adaptive_metropolis.py
  opt/probabilistic/bayesian_optimizer.py
  opt/probabilistic/linear_discriminant_analysis.py
  opt/probabilistic/parzen_tree_stimator.py
  opt/probabilistic/sequential_monte_carlo.py
Due: validate-optimizer-docs

Complete COCO/BBOB compliant docstrings for metaheuristic optimizers (#112)
  opt/metaheuristic/arithmetic_optimization.py
  opt/metaheuristic/forensic_based.py
  opt/metaheuristic/particle_filter.py
  opt/metaheuristic/variable_depth_search.py
  opt/metaheuristic/very_large_scale_neighborhood_search.py
Due: validate-optimizer-docs

Add COCO/BBOB compliant docstrings for constrained optimization algorithms (#108)
  opt/constrained/augmented_lagrangian_method.py
  opt/constrained/barrier_method.py
  opt/constrained/penalty_method.py
  opt/constrained/sequential_quadratic_programming.py
  opt/constrained/successive_linear_programming.py
Due: validate-optimizer-docs

fix: correct Google style docstring formatting for uniform initialization in social algorithms
  opt/social_inspired/political_optimizer.py
  opt/social_inspired/soccer_league_optimizer.py
  opt/social_inspired/social_group_optimizer.py
  opt/social_inspired/teaching_learning.py
Due: validate-optimizer-docs

[WIP] Update docstrings for social-inspired algorithms (#107)
  opt/social_inspired/political_optimizer.py
  opt/social_inspired/soccer_league_optimizer.py
  opt/social_inspired/social_group_optimizer.py
  opt/social_inspired/teaching_learning.py
Due: validate-optimizer-docs

Complete COCO/BBOB docstrings for 15 swarm intelligence algorithms and begin implementation updates for remaining 41 (#111)
  .github/copilot-instructions.md
  .github/prompts/docs-completion.prompt.md
  opt/swarm_intelligence/african_buffalo_optimization.py
  opt/swarm_intelligence/african_vultures_optimizer.py
  opt/swarm_intelligence/aquila_optimizer.py
  opt/swarm_intelligence/artificial_fish_swarm_algorithm.py
  opt/swarm_intelligence/artificial_gorilla_troops.py
  opt/swarm_intelligence/bee_algorithm.py
  opt/swarm_intelligence/cat_swarm_optimization.py
  opt/swarm_intelligence/dragonfly_algorithm.py
  opt/swarm_intelligence/glowworm_swarm_optimization.py
  opt/swarm_intelligence/grasshopper_optimization.py
  opt/swarm_intelligence/harris_hawks_optimization.py
  opt/swarm_intelligence/marine_predators_algorithm.py
  opt/swarm_intelligence/moth_flame_optimization.py
  opt/swarm_intelligence/salp_swarm_algorithm.py
Due: validate-optimizer-docs
